flows.json
[
    {
        "id": "2ac7f7af.502058",
        "type": "ttn uplink",
        "z": "97b774a7.ea91c8",
        "name": "",
        "app": "",
        "dev_id": "",
        "field": "",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "7030ba88.39ca54"
            ]
        ]
    },
    {
        "id": "7030ba88.39ca54",
        "type": "change",
        "z": "97b774a7.ea91c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload_raw[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 260,
        "wires": [
            [
                "60968485.a3f02c",
                "19cbd1d5.fbb8de",
                "3bdf0707.a73a78",
                "c89e6d25.097c6"
            ]
        ]
    },
    {
        "id": "c89e6d25.097c6",
        "type": "influxdb out",
        "z": "97b774a7.ea91c8",
        "influxdb": "eeabf30b.81dec",
        "name": "",
        "measurement": "temperatures",
        "precision": "",
        "retentionPolicy": "",
        "x": 790,
        "y": 380,
        "wires": []
    },
    {
        "id": "3bdf0707.a73a78",
        "type": "ui_gauge",
        "z": "97b774a7.ea91c8",
        "name": "",
        "group": "2d713711.949088",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "19cbd1d5.fbb8de",
        "type": "ui_chart",
        "z": "97b774a7.ea91c8",
        "name": "",
        "group": "2d713711.949088",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 690,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "60968485.a3f02c",
        "type": "debug",
        "z": "97b774a7.ea91c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 260,
        "wires": []
    },
    {
        "id": "eeabf30b.81dec",
        "type": "influxdb",
        "z": "",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "maBase",
        "name": "",
        "usetls": false,
        "tls": ""
    },
    {
        "id": "2d713711.949088",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "261279cc.6ba5e6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "261279cc.6ba5e6",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]